:root {
  --primary-color: #191a1d;
  --secondary-color: #394a51;
  --tertiary-color: #7fa99b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.08rem;
}

/*HEADER / NAV BAR STYLES START */
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--tertiary-color);
}

header h1 a {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-decoration: none;
  letter-spacing: 0.2rem;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 20px;
  font-weight: lighter;
  font-size: 24px;
}

header nav a:hover {
  color: var(--secondary-color);
}
/* HEADER / NAVBAR STYLES END */

/* STYLE ALL SECTION TAGS */
section {
  padding: 30px;
}

/* HERO STYLES START */
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.hero-img img {
  max-width: 300px;
  padding: 10px;
}

.hero-intro {
  width: 30%;
  text-align: left;
  margin: 5%;
  font-size: 24px;
  line-height: 1.2;
}

.hero-intro p {
  color: var(--secondary-color);
}

.hero::after {
  background: var(--tertiary-color);
  border-radius: 1000px;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  margin-top: 50px;
}
/* HERO STYLES END */

/* SECTION TITLE STYLES START */
.section-title {
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
  margin: 0 auto 20px auto;
  width: 50%;
}

/* ABOUT ME STYLES START */
.about p {
  line-height: 1.7;
  color: var(--secondary-color);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.about::after {
  background: var(--tertiary-color);
  border-radius: 1000px;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  margin-top: 50px;
}
/* ABOUT ME STYLES END */

/*WORK STYLES START */
.projects {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 20px;
  border: var(--secondary-color);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 10px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 10px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 10px 7px rgba(0, 0, 0, 0.2);
}

.label:hover {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5), 0px 10px 7px rgba(0, 0, 0, 0.2);
}

.label p {
  position: relative;
  padding: 10px;
  width: 100%;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  font-size: 24px;
  text-align: center;
}

.label a {
  text-decoration: none;
}

.project1 img {
  flex: 1 50vw;
  max-height: 400px;
  height: 50vw;
  display: block;
  position: relative;
}

.project {
  display: block;
}
.project img {
  flex: 1 1 24vw;
  height: 25vw;
  max-height: 200px;
  margin: 12px;
}

.projects::after {
  background: var(--tertiary-color);
  border-radius: 1000px;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  margin-top: 50px;
}
/* UTILITIES */
.flex-row {
  display: flex;
}
